/*폰트*/
@font-face {
    font-family: "abogle";
    font-weight: auto;
    src: url("./font/abogle.ttf");
}

@font-face {
    font-family: "abogle";
    font-weight: auto;
    src: url("./font/happynewyear.ttf");
}


body {
    height: 100vh;
    margin: 0;
    font-family: "abogle", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*overflow: hidden;*/

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hospitalBtn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    border: none;
    border-radius: 16px;
    background: #F08080;
    color: white;
    padding: 12px;
    font-weight: bold;
    box-shadow: 0 2px 8px gray;
    cursor: pointer;
}

.main-container {
    /*border: 2px solid black;*/
    height: 90vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.no-scroll {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

.no-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.post-image-container {
    width: 100%;
    height: 600px;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}


.button {
    /* 기존 스타일 */
    font-family: "abogle", serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    white-space: nowrap; /* 버튼 내부 텍스트가 버튼 영역을 벗어나지 않도록 설정 */
}

.buttonWrapper {
    display: flex;
    width: 100px; /* 부모 요소의 너비에 맞게 설정 */
    margin: -5px;
}

.buttonContainer {
    position: fixed; /* 고정 위치 설정 */
    bottom: 20px; /* 아래 여백 */
    right: 20px; /* 우측 여백 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image-container {
    width: 100%;
}

.logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon-size {
    width: 30px;
}

.circleBtn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #F08080;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-post-square {
    width: 31%;
    position: relative;
}

.profile-post-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile-post-image {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1%;
    border-radius: 20px;
}


.profile-image-square {
    width: 100%;
    position: relative;
}

.profile-image-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile-image-image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-tag {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd
}





